@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>MVC5 例子代码</h1>

    <p class="lead">

    </p>

</div>


<div class="row">

    <div class="col-md-3">
        <h2> Glimpse 管理 </h2>
        <p>
            需要通过 NuGet， 安装 Glimpse.MVC5
        </p>
        <p><a class="btn btn-default" href='/glimpse.axd'>  Glimpse 管理  </a></p>
    </div>

    <div class="col-md-3">
        <h2> Test Glimpse </h2>
        <p>
            测试 Glimpse 的处理结果.
        </p>
        <p><a class="btn btn-default" href='@Url.Action(actionName: "Index", controllerName: "TestGlimpse")'>  Test Glimpse </a></p>
    </div>




    <div class="col-md-3">
        <h2> Test Async </h2>
        <p>
            测试 async 的相关处理.
        </p>
        <p><a class="btn btn-default" href='@Url.Action(actionName: "Index", controllerName: "TestAsync")'>  Test Async  </a></p>
    </div>


    <div class="col-md-3">
        <h2> Test Chart </h2>
        <p>
            测试 System.Web.Helpers.Chart, 生成简单的图表.
        </p>
        <p><a class="btn btn-default" href='@Url.Action(actionName: "Index", controllerName: "TestChart")'>  Test Chart  </a></p>
    </div>


</div>



<div class="row">

    <div class="col-md-3">
        <h2> Test DisplayMode </h2>
        <p>
            测试 DisplayMode 的相关处理. 用于自动跳转 桌面/平板/手机 页面.
        </p>
        <p><a class="btn btn-default" href='@Url.Action(actionName: "Index", controllerName: "TestMobile")'>  Test DisplayMode  </a></p>
    </div>


    <div class="col-md-3">
        <h2> Test i18n </h2>
        <p>
            测试国际化的相关处理.
        </p>
        <p><a class="btn btn-default" href='@Url.Action(actionName: "Index", controllerName: "Testi18n")'>  Test i18n  </a></p>
    </div>


    <div class="col-md-3">
        <h2> Test Bundle </h2>
        <p>
            测试 Bundle 压缩脚本的相关处理.
        </p>
        <p><a class="btn btn-default" href='@Url.Action(actionName: "Index", controllerName: "TestBundle")'>  Test Bundle  </a></p>
    </div>



    <div class="col-md-3">
        <h2> Test TypeScript </h2>
        <p>
            测试在 ASP.NET MVC 项目中， 使用 TypeScript
        </p>
        <p><a class="btn btn-default" href='@Url.Action(actionName: "Index", controllerName: "TestTypeScript")'>  Test TypeScript  </a></p>
    </div>
</div>



<div class="row">

    <div class="col-md-3">
        <h2> Test Error </h2>
        <p>
            测试自定义错误页面
        </p>
        <p><a class="btn btn-default" href='@Url.Action(actionName: "Index", controllerName: "TestError")'>  Test Error  </a></p>
    </div>


    <div class="col-md-3">
        <h2> Test Ajax </h2>
        <p>
            测试复杂的 Ajax 调用流程
        </p>
        <p><a class="btn btn-default" href='@Url.Action(actionName: "Index", controllerName: "TestAjax")'>  Test Ajax  </a></p>
    </div>


    <div class="col-md-3">
        <h2> Test Config </h2>
        <p>
            测试 Web Config.
        </p>
        <p><a class="btn btn-default" href='@Url.Action(actionName: "Index", controllerName: "TestConfig")'>  Test Config  </a></p>
    </div>


    <div class="col-md-3">
        <h2> Test Redirect </h2>
        <p>
            测试 Redirect.
        </p>
        <p><a class="btn btn-default" href='@Url.Action(actionName: "Index", controllerName: "TestRedirect")'>  Test Redirect  </a></p>
    </div>

</div>







<div class="row">

    <div class="col-md-3">
        <h2> 网站认证 - 默认 </h2>
        <p>
            测试认证 --- 默认的认证方式
        </p>
        <p><a class="btn btn-default" href='/TestAuthentication/Index'>  网站认证 - 默认 </a></p>
    </div>

    <div class="col-md-3">
        <h2> 网站认证 - 通过 Cookie </h2>
        <p>
            测试认证 --- 自己写的 存储在 Cookie 里的方式
        </p>
        <p><a class="btn btn-default" href='/TestCookieAuthentication/Index'>  网站认证 - 通过 Cookie </a></p>
    </div>

    <div class="col-md-3">
        <h2> 网站认证 - 通过 Session </h2>
        <p>
            测试认证 --- 自己写的 存储在 Session 里的方式
        </p>
        <p><a class="btn btn-default" href='/TestSessionAuthentication/Index'>  网站认证 - 通过 Session </a></p>
    </div>

</div>












<div class="row">

    <div class="col-md-3">
        <h2> 负载均衡测试 </h2>
        <p>
            测试 均衡测试 的共享 Session
        </p>
        <p><a class="btn btn-default" href='/LoadBalancing/Test'>  Test LoadBalancing  </a></p>
    </div>



    <div class="col-md-3">
        <h2> Task 的测试 </h2>
        <p>
            测试在控制器方法中，使用 Task
        </p>
        <p><a class="btn btn-default" href='/TestTask/Index'>  Test Task  </a></p>
    </div>


</div>


