@using System.Threading
@using W1050_Mvc5.Resource
@using W1050_Mvc5.Helpers;

@model W1050_Mvc5.Models.TestModelData
@{
    MyResource.Culture = Thread.CurrentThread.CurrentCulture;

    ViewBag.Title = MyResource.HelloWorld;
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<h2> 国际化测试页面 </h2>

<p> 仅仅测试下面的区域， 别的区域没有设置 </p>




<div>

    <span> @Html.Label(MyResource.Lang) </span>


    <span>@MyResource.HelloWorld</span>

</div>


<hr />




@using (Html.BeginForm(actionName: "Index", controllerName: "Testi18n", method: FormMethod.Post,
    htmlAttributes: new { role = "form", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


    <legend>区域</legend>



    <div class="form-group">
        <label for="AreaCode" class="col-sm-2 control-label">
            @Html.IsRequiredFor(model => model.AreaCode)
            @Html.DisplayNameFor(model => model.AreaCode) 
        </label>
        <div class="col-md-6">
            @Html.EditorFor(model => model.AreaCode, new { htmlAttributes = new { @class = "form-control", autocomplete = "off", placeholder = Html.DescriptionFor(m => m.AreaCode) } })
            @Html.ValidationMessageFor(model => model.AreaCode, "", new { @class = "text-danger" })
        </div>
    </div>





    <div class="form-group">
        <label for="AreaName" class="col-sm-2 control-label">
            @Html.IsRequiredFor(model => model.AreaName)
            @Html.DisplayNameFor(model => model.AreaName) 
        </label>
        <div class="col-md-6">
            @Html.EditorFor(model => model.AreaName, new { htmlAttributes = new { @class = "form-control", autocomplete = "off", placeholder = Html.DescriptionFor(m => m.AreaName) } })
            @Html.ValidationMessageFor(model => model.AreaName, "", new { @class = "text-danger" })
        </div>
    </div>





    <div class="form-group">
        <label for="DisplayWeight" class="col-sm-2 control-label">
            @Html.IsRequiredFor(model => model.AreaName)
            @Html.DisplayNameFor(model => model.DisplayWeight) 
        </label>
        <div class="col-md-6">
            @Html.EditorFor(model => model.DisplayWeight, new { htmlAttributes = new { @class = "form-control", autocomplete = "off", placeholder = Html.DescriptionFor(m => m.DisplayWeight) } })
            @Html.ValidationMessageFor(model => model.DisplayWeight, "", new { @class = "text-danger" })
        </div>
    </div>



    <div class="form-group">
        <label for="AreaRemark" class="col-sm-2 control-label">
            @Html.IsRequiredFor(model => model.AreaRemark)
            @Html.DisplayNameFor(model => model.AreaRemark)
        </label>
        <div class="col-md-6">
            @Html.EditorFor(model => model.AreaRemark, new { htmlAttributes = new { @class = "form-control", autocomplete = "off", placeholder = Html.DescriptionFor(m => m.AreaRemark) } })
            @Html.ValidationMessageFor(model => model.AreaRemark, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group form-group-sm">
        <div class="col-sm-offset-2 col-sm-9">
            <button type="submit" class="btn btn-default">
                <span class="glyphicon glyphicon-plus"></span>
                创建
            </button>
        </div>
    </div>

}

<p>
    @ViewBag.Message
</p>