
@{
    ViewBag.Title = "负载均衡测试";

    string servceCode = ViewBag.ServerCode;
}

<h2>负载均衡测试</h2>


<ul>

    <li>
        当前连接的服务器： @(servceCode)
    </li>



    @if (User.Identity.IsAuthenticated)
    {
<li>
    当前用户已登录: @(User.Identity.Name)
</li>
    }
    else
    {
<li>
    当前用户未登录
</li>
    }



<li>
    SessionID = @Session.SessionID
</li>

<li>
    Session["LOAD_BALANCING_SESSION_TEST"] = @Session["LOAD_BALANCING_SESSION_TEST"]
</li>

<li>
    <form action="/LoadBalancing/Test/SetSessionValue" method="post">
        <span>
            设置 Session["LOAD_BALANCING_SESSION_TEST"] =
            @Html.TextBox(name: "vaule")
        </span>
        <button type="submit" class="btn btn-default">
            确定
        </button>
    </form>
</li>



</ul>



<hr/>

<h3> 负载均衡 Check List</h3>

<ol>
    <li>
        StateServer 的机器，注册表中：
        [HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Services\aspnet_state\Parameters] 配置端口（Port，默认是42424），
        允许远程连接（AllowRemoteConnection，默认是0，0-不允许，1-允许）
    </li>

    <li>
        Web.config
        配置 system.web 下的 sessionState。
        mode="StateServer"
        注意，负载均衡中的每一台机器， 都指向同一台 StateServer。
        否则，指向不同的 StateServer , 是无法实现共享 Session 的。
    </li>


    <li>
        Web.config
        配置 system.web 下的 machineKey。
        要求，负载均衡中的每一台机器， 都有相同的 machineKey
    </li>


    <li>
        IIS
        选择网站，鼠标右键，【管理网站】--> 【高级设置】，  确认， 在两台服务器上，  网站的 【ID】 要一样。
    </li>



</ol>




<hr/>

<h3> 同主域名 Check List</h3>

<ol>
	<li>
	前3点基本与 负责均衡相同。
	（如果是 一台服务器，跑2个网站，  例如 ：  a.test.com  和  b.test.com  ， 那么，注册表那个可以不设置）
	</li>
	
	<li>
		需要将多个网站， httpCookies 下的 domain， 设置 为 相同的主域名。
		（a.test.com  和  b.test.com，  那么， domain="test.com"）
	</li>
	
	<li>
		测试页面访问的时候，需要浏览器中，观察 Cookie 。
		ASP.NET_SessionId 这个 Cookie 的域名，是不是 主域名的 Cookie.
		如果还是完整域名的话， 最终将无法实现共享。
	</li>
	
</ol>




